.icon {
    color: white;
}

.rightIcons {
    margin: 10px 0;
    cursor: pointer;
}

.rightIcons:hover {
    opacity: 0.6;
}

.closeBtn {
    position: relative;
    top: 10px;
    left: 10px;
}

.animalList {}

.animalWrap {
    display: flex;
    margin: 10px 0;
}

.animalWrap.top {
    height: 70px;
}

.animalWrap:hover {
    background-color: rgba(255, 255, 255, .08);
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.animalWrap img {
    max-width: 100px;
    max-height: 80px;
}

.rightTitle {
    font-size: 30px;
    margin: auto;
}

.rightPhotoWrap {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.rightPhotoName {
  font-size: 20px
}

.rightPhotoWrap .header {
    font-size: 20px;
    line-height: 45px;
}

.rightPhotoWrap .description {
    font-size: 20px;
}

.rightPanelWrap {
  display: flex;
  height: 100vh;
}

.panelTitle {
    display: flex;
    padding: 30px 0;
    background-color: #183a5d;
    position: absolute;
    top: 0;
    width: 100%;
}

.rightActionBtnWrap {
    justify-content: flex-end;
    margin: auto;
    flex: 1;
    display: flex;
}

.iconWrap {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin: 20px auto;
  z-index: 10;
}
.rightPanelImageWrap {
  width: 75px;
  height: 75px;
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: auto 10px;
  border-radius: 75px;
  border: 2px solid;
}
