<div class="rightPanelWrap">
    <div class="iconWrap">
        <i class="shop icon big white rightIcons" ng-click="rightPanelCtrl.toggleRightPanel()"></i>
        <i class="user icon big white rightIcons"></i>
        <i class="lemon icon big white rightIcons"></i>
        <i class="cube icon big white rightIcons"></i>
    </div>
    <div class="ui sidebar right inverted vertical menu" id="rightPanel">
        <div class="rightPanelTitle">
            <i class="ui close large icon cursor" ng-click="rightPanelCtrl.closePanel()"></i>
            <div class="rightTitle">SHOP</div>
        </div>
        <div class="animalList">
            <div class="animalWrap" ng-repeat="animal in rightPanelCtrl.animals" ng-click="rightPanelCtrl.buyAnimal(animal)">
                <img ng-src={{animal.img}}>
                <div class="rightPhotoWrap">
                    <div class="header">
                        {{animal.name}}
                    </div>
                    <div class="description">
                        <p><i class="diamond icon white"></i>{{animal.cost}}</p>
                    </div>
                </div>
                <div class="rightActionBtnWrap">
                    <i class="ui circle info icon cursor big" ng-click="rightPanelCtrl.checkInfo(animal.id)"></i>
                </div>
            </div>
        </div>
    </div>
</div>
