<div class="Container home wrap pusher">
	<div class="topPanel">
		<div class="diamondCount">
			<div class="diamondCountWrap">
				<i
					ng-click="homeCtrl.giveMeDiamond()"
					class="ui diamond icon diamondIcon" style="color: #5cbcff;"
				></i>
				<div>{{homeCtrl.diamond.count | number: 0}}</div>
			</div>
			<div style="color: rgba(255, 255, 255, 0.5); font-size: 24px;">
				Rate: {{homeCtrl.diamond.rate | number: 1}}
			</div>
		</div>
	</div>
	<left-panel></left-panel>
  <right-panel></right-panel>
    <div>
        <div class="earth cursor" ng-click="homeCtrl.getThunder($event)">
          <div class="earth--shadow"></div>
        </div>

		<div class="thunder-wrap">
			<div class="thunder"></div>
		</div>
		<!--
		<img class="lion" ng-src="images/lion.png">
		<img class="owl" ng-src="images/owl.png">
		<img class="pandas" ng-src="images/pandas.png">
		-->
		<div ng-repeat="planet in homeCtrl.currentPlanets">
			<img class="{{planet.classname}}" ng-src="{{planet.img}}">
		</div>

        <div class="moon"></div>
        <div class="moon2"></div>
        <div class="stars"></div>
        <div class="inspiration">Planet credit to <a target="_blank" href="http://codepen.io/orrybaram/pen/NqvVeX">Orry Baram</a></div>
    </div>
</div>
