.leftPanel {

}

.leftTitle {
  font-size: 30px;
  margin: auto;
}

// defined in rightPanel.scss
// .panelTitle {
//   display: flex;
//   background-color: #183a5d;
//   height: 80px;
// }

.leftPanelImageWrap {
  width: 75px;
  height: 75px;
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin: auto 10px;
  border-radius: 75px;
  border: 2px solid $text-white;
  background-position: center;
}

.leftPhotoName {
  padding-top: 10px;
  font-size: 20px;
}

.leftPhotoWrap {
  margin-left: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftPhotoWrap .header {
    font-size: 18px;
    color: $text-white;
}

.leftPhotoWrap .attribute {
    font-size: 15px;
}

.attribute.inner .attr-icon {
	width: 50px;
	position: relative;
	top: 13px;
	margin-left: 15px;
}

.attribute.inner span {
	font-size: 30px;
	color: #555;
}

.attr-icon {
	position: relative;
	top: 5px;
	width: 22px;
}

.attr-icon.big {
	width: 40px;
}

.zooImg {
	width: 100px !important;
}

.left-attr-column {
  margin-right: 8px;
}

.left-attr-number {
  color: $text-gray;
}

.animal-description {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

#upgradeModal.modal {
  .upgrade-modal-header {
    background-color: #183a5d;
    color: $text-white;
  }
  .upgrade-modal-content {
    background-color: #0a2232;
    .ui.header {
      color: $text-white;
    }
  }
  .column {
    flex-direction: row;
    align-items: center;
  }
}

.leftModalWrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightModalWrapp {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.messageWrap {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 400px;
  margin: 20px 10px;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
}

.userMsg {
  display: flex;
  justify-content: flex-end;
}
.animalMsg {
  display: flex;
  justify-content: flex-start;
}
.messageItemWrap {
  padding: 25px;
  font-size: 20px;
}

.inputMessage {
  justify-content: flex-end;
  position: absolute !important;
  bottom: 47px;
  width: 400px;
}
