.leftPanel {
  
}

.panel-title {
	color: #fff;
	font-size: 2em;
	line-height: 2em;
	text-align: center;
}

i.left-icon {
	font-size: 2em;
	color: #fff;
	position: relative;
	top: 0.5em;
}

i.left-icon.inner {
	position: absolute;
	right: 0;
}